<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Rendering blog post from an Express js server."
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>BlogSite</title>
  </head>
  <body>
    <nav class="nav">
      <h1>BlogSite</h1>
      <p><a href="/post">posts</a></p>
    </nav>
    <div class="header">
      <h1>Welcome to <span id="brand">BlogSite</span></h1>
    </div>
    <footer class="footer">Group 4 ~ Mini Project &copy;2026</footer>
  </body>
</html>
